<div class="login-container">
  <div class="login-box">
    <h2>Login Template Driven</h2>
    <form #fm="ngForm" (ngSubmit)="SubmitForm(fm)">
      <div class="form-group">
        <label>Username</label>
        <input type="text" ngModel name="username" #username="ngModel" class="form-control" id="username" required>
        <div class="alert alert-danger" *ngIf="username.touched && !username.valid">
          <div *ngIf="username.errors.required">Username Required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" ngModel name="password" #password="ngModel" class="form-control" id="password" required>
        <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
          <div *ngIf="password.errors.required">Password Required</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!fm.valid">Submit</button>
    </form>
  </div>
</div>